<app-auth-layout>
  <section>
    <div class="flex flex-col items-center justify-center py-8 mx-auto h-screen lg:py-0 transition bg-gray-50-100">
      <div
        class="w-full relative bg-white z-20 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 duration-1000 border-zinc-200">
        <div class="p-3 space-y-3 md:space-y-4 sm:p-6 z-20">
          <h1
            class="text-xl flex flex-col gap-6 font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-10">
            <a class="flex items-center">
              <span class="text-2xl font-bold text-indigo-700">Aftas</span>
            </a>
            Sign in to your account
          </h1>
          <form class="space-y-3 md:space-y-4" [formGroup]="loginForm" (submit)="login()">
            <div class="mt-5">
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                email</label>
              <tui-input formControlName="email">
                Type an email
                <input tuiTextfieldSize="m" tuiTextfield autocomplete="username" type="text"
                       name="password" id="email"
                       placeholder="ouharri@aftas.ma" (change)="checkIfReadyToSubmit()"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
              </tui-input>
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password
              </label>
              <tui-input-password formControlName="password">
                Type an password
                <input tuiTextfield tuiTextfieldSize="m" id="password" name="password" type="password"
                       placeholder="********" autocomplete="password" (change)="checkIfReadyToSubmit()"
                       class="tui-input bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
              </tui-input-password>
            </div>
            <div class="flex items-center justify-between">
              <router-outlet
                class="hover:underline font-semibold text-[#0a66c2] forgot-password-text mb-4 cursor-pointer"
                routerLink="/auth/forgot-password"
              >
                Forgot password ?
              </router-outlet>
            </div>
            <button
              class="w-full login-btn text-white focus:ring-4 disabled:cursor-not-allowed focus:outline-none focus:ring-primary-300 font-medium text-sm px-5 py-4 rounded-[var(--tui-radius-m)] text-center bg-[#7bbcd1] dark:bg-[#295e6e] hover:dark:bg-[#7bbcd1] hover:bg-[#295e6e]"
              type="submit" [disabled]="notReadyToSubmit">
              Sign in
            </button>
            <div>
              <p class="flex text-gray-600 justify-between w-full text-md dark:text-white">
                Don't have an account ?
                <router-outlet routerLink="/auth/register"
                               class="text-[#0a66c2] font-semibold cursor-pointer">
                  Sign up
                </router-outlet>
            </div>
          </form>
          <div class="sign-in-form__divider left-right-divider py-3">
            <p class="sign-in-form__divider-text font-sans text-sm text-[#7bbcd1] dark:text-white px-2">
              or
            </p>
          </div>
          <div class="flex items-center justify-center w-full">
            <button (click)="goToOauthGoogle()" appearance="outline" tuiButton type="button"
                    class="w-full border-[#295e6e !important] disabled:cursor-not-allowed"
                    [disabled]="googleOauthUrlNotReady"
            >
              <div class="w-[18px] h-[18px] mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="block w-full h-full">
                  <g>
                    <path fill="#EA4335"
                          d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                    <path fill="#4285F4"
                          d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                    <path fill="#FBBC05"
                          d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                    <path fill="#34A853"
                          d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                    <path fill="none" d="M0 0h48v48H0z"></path>
                  </g>
                </svg>
              </div>
              <span>Continue with Google</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-auth-layout>
